{% include "enroll/layout/sidebar.html" %}
{% include "enroll/layout/header.html" %}
<body class="bg-gradient-secondary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register">
                        <img src="/static/img/logo/logo.jpeg" width="400px" height="100%">
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Add Crop</h1>
                            </div>
                            <form class="user" action="{% url 'cropsave' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% if error %}
                                <div class="alert alert-danger" role="alert">
                                    {{error}}
                                </div>
                                {% endif %}
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <lable style="margin-left: 15px;color:black; ">Name:<span style="margin-left: 5px;color: red;margin-top: 200px;font-size: 15px;">*</span></lable>
                                        <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="Name" name="name" style="color:black;font-family: 'Arial Narrow Bold';font-size:20px;border: 1px solid black;">
                                    </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <lable style="margin-left: 15px;color:black; ">Image:<span style="margin-left: 5px;color: red;margin-top: 200px;font-size: 15px;">*</span></lable>
                                        <input class="form-control spartan_image_input"  name="image" type="file" style="color:black;height:50px;border: 1px solid black;">
                                    </div>
                                </div>
                                
                                <button class="btn btn-primary btn-user btn-block">
                                    Submit
                                </button>
                                
                            </form>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>
    
</body>

</html>